<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Link to the css file -->
        <link rel="stylesheet" href="{{url_for('static', filename='output.css')}}">
        
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body id="body">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <!-- The main location for any specific content -->
        <main id="main" class="p-6 items-center justify-center text-center bg-slate-700 h-screen text-white">
            {% block main %}{% endblock %}
        </main>
    </body>

</html>